<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="center">
        <span class="fa fa-file-invoice glyp-index-title" aria-hidden="true"></span>
        <span class="index-title"><%= t '.title' %></span>
      </h3>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <%= form_for @proposal, method: :put, url: wizard_path do |f| %>

    <%= form_errors_for f.object %>

    <%= render "form_#{step}", f: f %>

    <div class="row">
      <div class="col-sm-12">

        <%= link_to previous_wizard_path, class: "btn btn-default" do %>
          <span><%= fa_icon("chevron-left", :text => t(".submit_back")) %></span>
        <% end %>


        <%= link_to root_path, class: "btn btn-success disabled hidden-xs hidden-sm" do %>
          <span><%= t("proposals.wizard_steps.form_step2.fieldset_title") %></span>
        <% end %>


        <%= f.button(:class => "btn btn-default", disabled: false, :id => "wizard_btn_submit") do %>
          <span><%= fa_icon("chevron-right", :text => t(".submit"), right: true) %></span>
        <% end %>

        <%= link_to root_path, class: "btn btn-default disabled hidden-xs hidden-sm" do %>
          <span><%= fa_icon("chevron-right", :text => t("proposals.wizard_steps.form_step4.fieldset_title"), right: true) %></span>
        <% end %>

        <%= link_to root_path, class: "btn btn-default disabled hidden-xs hidden-sm" do %>
          <span><%= fa_icon("chevron-right", :text => t("proposals.wizard_steps.form_step5.fieldset_title"), right: true) %></span>
        <% end %>

        <% if policy(@proposal).destroy_self? %>
          <%= link_to proposal_path(multi_app_identifier: @proposal.multi_app_identifier),
                              method: :delete,
                              data: { confirm: t('helpers.links.confirm_cancel_wizard') }, 
                              class: "btn btn-danger pull-right hidden-xs hidden-sm" do %>
            <span><%= fa_icon("times", :text => t("helpers.links.cancel_wizard")) %></span>
          <% end %>
        <% end %>

      </div> <!--/col-sm-12 -->
    </div> <!--/row -->

  <% end %>

</div> <!--/container -->
