<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="center">
        <span class="fa fa-file-invoice glyp-index-title" aria-hidden="true"></span>
        <span class="index-title"><%= t '.title' %></span>
      </h3>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <%= form_for @proposal, method: :put, url: wizard_path do |f| %>

  	<%= form_errors_for f.object %>

    <%= render "form_#{step}", f: f %>

    <div class="row">
      <div class="col-sm-12">
        <div class="row multistep">

          <div class="col-xs-2 multistep-step complete">
            <div class="text-center multistep-stepname hidden-xs hidden-sm"><%= t("proposals.show_step1.fieldset_title") %></div>
            <div class="text-center multistep-stepname visible-xs visible-sm">1</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="<%= wizard_path('step1') %>" class="multistep-dot"></a>
          </div>

          <div class="col-xs-2 multistep-step complete">
            <div class="text-center multistep-stepname hidden-xs hidden-sm"><%= t("proposals.show_step2.fieldset_title") %></div>
            <div class="text-center multistep-stepname visible-xs visible-sm">2</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="<%= wizard_path('step2') %>" class="multistep-dot"></a>
          </div>

          <div class="col-xs-4 multistep-step current">
            <div class="text-center multistep-stepname hidden-xs hidden-sm"><%= t("proposals.show_step3.fieldset_title") %></div>
            <div class="text-center multistep-stepname visible-xs visible-sm">3</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="multistep-dot"></a>
          </div>

          <div class="col-xs-2 multistep-step disabled">
            <div class="text-center multistep-stepname">4</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="multistep-dot"></a>
          </div>

          <div class="col-xs-2 multistep-step disabled">
            <div class="text-center multistep-stepname">5</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="multistep-dot"></a>
          </div>

        </div>
        <br>
        <br>
      </div> <!--/col-sm-12 -->

      <div class="col-sm-12">
        <%= link_to previous_wizard_path, class: "btn btn-sm btn-default" do %>
          <span><%= fa_icon("chevron-left", text: t("proposals.wizard_steps.previous_step")) %></span>
        <% end %>
        
        <%= f.button(:class => "btn btn-sm btn-primary pull-right", disabled: false, :id => "wizard_btn_submit") do %>
          <span><%= fa_icon("chevron-right", text: t("proposals.wizard_steps.next_step"), right: true) %></span>
        <% end %>
      </div> <!--/col-sm-12 -->
    </div> <!--/row -->

	<% end %>

</div> <!--/container -->
