<fieldset class="my-fieldset">
  <legend class="my-fieldset"><%= t('.fieldset_title') %></legend>

  <div class="row">
    <div class="form-group col-sm-3">
      <p><strong><%= partial_data.class.human_attribute_name(:name_type_station) %></strong></p>
      <%= partial_data.try(:name_type_station) %>
    </div>
    <div class="form-group col-sm-3">
      <p><strong><%= partial_data.class.human_attribute_name(:emission) %></strong></p>
      <%= partial_data.try(:emission) %>
    </div>
    <div class="form-group col-sm-3">
      <p><strong><%= partial_data.class.human_attribute_name(:input_frequency) %></strong></p>
      <%= partial_data.try(:input_frequency) %>
    </div>
    <div class="form-group col-sm-3">
      <p><strong><%= partial_data.class.human_attribute_name(:output_frequency) %></strong></p>
      <%= partial_data.try(:output_frequency) %>
    </div>
  </div> <!--/row -->
</fieldset>
