<fieldset class="my-fieldset">
  <legend class="my-fieldset"><%= t('.fieldset_title') %></legend>

  <div class="row">
    <div class="form-group col-sm-12">
      <p><strong><%= partial_data.class.human_attribute_name(:applicant_name_short) %></strong></p>
      <%= partial_data.try(:applicant_name) %>
    </div>
    <div class="form-group col-sm-3">
      <p><strong><%= partial_data.class.human_attribute_name(:applicant_city_short) %></strong></p>
      <%= partial_data.try(:applicant_city) %>
    </div>
    <div class="form-group col-sm-3">
      <p><strong><%= partial_data.class.human_attribute_name(:applicant_street_short) %></strong></p>
      <%= partial_data.try(:applicant_street) %>
    </div>
    <div class="form-group col-sm-3">
      <p><strong><%= partial_data.class.human_attribute_name(:applicant_house_short) %></strong></p>
      <%= partial_data.try(:applicant_house) %>
    </div>
    <div class="form-group col-sm-3">
      <p><strong><%= partial_data.class.human_attribute_name(:applicant_number_short) %></strong></p>
      <%= partial_data.try(:applicant_number) %>
    </div>
  </div> <!--/row -->
</fieldset>
