<fieldset class="my-fieldset">
  <legend class="my-fieldset"><%= t('.fieldset_title') %></legend>

  <div class="row">
    <div class="form-group col-sm-12">
      <p><strong><%= partial_data.class.human_attribute_name(:number) %></strong></p>
      <%= partial_data.try(:number) %>
    </div>
    <div class="form-group col-sm-3">
      <p><strong><%= partial_data.class.human_attribute_name(:valid_to) %></strong></p>
      <%= partial_data.try(:valid_to) %>
    </div>
    <div class="form-group col-sm-3">
      <p><strong><%= partial_data.class.human_attribute_name(:call_sign) %></strong></p>
      <%= partial_data.try(:call_sign) %>
    </div>
    <div class="form-group col-sm-3">
      <p><strong><%= partial_data.class.human_attribute_name(:category) %></strong></p>
      <%= partial_data.try(:category) %>
    </div>
    <div class="form-group col-sm-3">
      <p><strong><%= partial_data.class.human_attribute_name(:transmitter_power) %></strong></p>
      <%= partial_data.try(:transmitter_power) %>
    </div>
  </div> <!--/row -->
</fieldset>

