<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="center">
        <span class="fa fa-file-invoice glyp-index-title" aria-hidden="true"></span>
        <span class="index-title hidden-xs"><%= t 'wizard_proposals.title' %></span>
        <span class="index-title visible-xs"><%= t '.navbar' %></span>
      </h3>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->
</div> <!--/container -->

<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <%= form_for @proposal_wizard, as: :proposal_wizard, url: validate_step_wizard_proposal_path do |f| %>
        <%= form_errors_for @proposal_wizard %>
        <%= form_errors_for @proposal_wizard.proposal if @proposal_wizard.proposal.present? %>

        <%= hidden_field_tag :current_step, 'step5' %>
        <%= f.hidden_field :esod_category %>
        <%= f.hidden_field :exam_fee_id %>
        <%= f.hidden_field :exam_fee_price %>

        <%= render partial: "proposals/step1_info", locals: {partial_data: @proposal_wizard} %>
        <%= render partial: "proposals/step2_info", locals: {partial_data: @proposal_wizard} %>
        <%= render partial: "proposals/step3_info", locals: {partial_data: @proposal_wizard} %>
        <%= render partial: "proposals/step4_info", locals: {partial_data: @proposal_wizard} %>

        <div class="row">
          <div class="form-group col-sm-4">
            <%= f.check_box :all_is_ok, disabled: false, id: "proposal_wizard_all_is_ok", onclick: "status_all_is_ok(this.checked)" %>&nbsp;&nbsp;
            <%= f.label :all_is_ok, class: 'control-label' %>
          </div>
        </div> <!--/row -->

        <div class="row">
          <div class="form-group col-sm-12">
            <hr class="hr-without-top-margin">
            <%= f.submit t('.submit'), class: 'btn btn-primary', disabled: true, id: 'btn_proposal_wizard_finish' %>
          </div>
        </div> <!--/row -->

      <% end %>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <div class="row">
    <div class="col-sm-12">
      <ol class="breadcrumb">
        <li><%= link_to t('wizard_proposals.step1.fieldset_title'), step1_wizard_proposal_path %></li>
        <li><%= link_to t('wizard_proposals.step2.fieldset_title'), step2_wizard_proposal_path %></li>
        <li><%= link_to t('wizard_proposals.step3.fieldset_title'), step3_wizard_proposal_path %></li>
        <li><%= link_to t('wizard_proposals.step4.fieldset_title'), step4_wizard_proposal_path %></li>
        <li class="active"><%= t('wizard_proposals.step5.fieldset_title') %></li>
      </ol>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

</div> <!--/container -->
