<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="center">
        <span class="fa fa-tty glyp-index-title" aria-hidden="true"></span>
        <span class="index-title"><%= @individual_device.try(:number) %></span>
      </h3>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <%= render partial: "shared/basic_info",        locals: {partial_data: @individual_device} %>
  <%= render partial: "shared/additional_info",   locals: {partial_data: @individual_device} %>
  <%= render partial: "shared/station_info",      locals: {partial_data: @individual_device} %>

  <br>
  <%= link_to individual_devices_path, class: "btn btn-default" do %>
    <span class="fa fa-list"></span>
    <%= t("helpers.links.index") %>
  <% end %>

</div> <!--/container -->

