<!-- 
{	"id"=>44182, 
	"examination_id"=>14437, 
	"subject_id"=>42, 
	"grade_result"=>"", 
	"subject_name"=>"", 
	"testportal_access_code_id"=>"XKsDxX8cVEY7", 
	"testportal_url"=>"https://do testportalu"}
 -->            
<fieldset class="my-fieldset">
  <legend class="my-fieldset colored-title"><strong><%= grade["subject_name"] %></strong></legend>
 
	<div class="row">

		<p><%= grade["testportal_access_code_id"] %></p>
		<p><%= grade["testportal_test_info"] %></p>

	</div>



	<% to_value = '{ "autoSubmit" : false, "startPageReadOnly" : true, "personUID": "1145", "accessCode": "69kFhvYn3zeW", "personalData" : { "firstName" : "Adam", "lastName" : "Nowak" } }' %>

	<div class="row">
	<form method="post" action="https://www.testportal.pl/exam/start.html">
	<input name="startTestRequest" type="hidden"
	value='{ "autoSubmit" : false, "startPageReadOnly" : true, "personUID": "1145", "accessCode": "69kFhvYn3zeW", "personalData" : { "firstName" : "Adam", "lastName" : "Nowak" } }'>

	<input type="submit" class="btn btn-danger" value="Uruchom test">
	</form>
	</div>




	<hr class="hr">


	<% url = "https://www.testportal.pl/test.html?t=" + grade["testportal_test_info"]["publicId"] %>

	<iframe style="width: 100%; height: 450px; border: none;" src=<%= url %>></iframe> 







	<hr class="hr">


	<% url = "https://www.testportal.pl/test.html?startTestRequest=#{to_value}" %>

	<iframe style="width: 100%; height: 450px; border: none;" src=<%= url %>></iframe> 



</fieldset>










<!-- 
<iframe style="width: 100%; height: 450px; border: none;" src="https://www.testportal.pl/test.html?t=xvK6X8S9QZz3"></iframe> 

 --><!-- 
{"idTest"=>"IA3dyVzWya7x8sO0ra--aJgZ7Yv0mVuVI1OoDRd1pV-PZr3Y9pWTzKz9x8skSW-MtA", "name"=>"77/21/A___3. Przepisy i procedury operatorskie", "description"=>"Kategoria A", "creationTime"=>1636536756279, "accessStartTimestamp"=>nil, "accessStart"=>nil, "status"=>"SETUP", "frozen"=>false, "categoryName"=>"R_A_44", "idTestCategory"=>"IGt2Zk5ruhm9AdjUGM7d3t2SsEB_I60h3qhTNyUtvHsbG8X_XwgGyQXaSS6zDiHYLg", "publicId"=>"xvK6X8S9QZz3", "examLocale"=>"pl"}

 -->