<fieldset class="my-fieldset">
  <legend class="my-fieldset"><%= t('.fieldset_title') %></legend>

  <div class="row">
    <div class="form-group col-sm-7">
      <p><strong><%= Proposal.human_attribute_name(:category_name) %></strong><br>
      <%= category_name(partial_data) %></p>
    </div>
    <div class="form-group col-sm-5">
      <p><strong><%= Proposal.human_attribute_name(:esod_category) %></strong><br>
      <%= esod_category_name(partial_data) %></p>
    </div>
  </div> <!--/row -->
  <div class="row">
    <div class="form-group col-sm-7">
      <p><strong><%= Proposal.human_attribute_name(:division_fullname) %></strong><br>
      <%= partial_data.division_fullname %></p>
    </div>
  </div> <!--/row -->
  <div class="row">
    <div class="form-group col-sm-7">
      <p><strong><%= Proposal.human_attribute_name(:exam_fullname) %></strong><br>
      <%= partial_data.exam_fullname %></p>
    </div>
    <div class="form-group col-sm-5">
      <p><strong><%= Proposal.human_attribute_name(:exam_date_exam) %></strong><br>
      <%= partial_data.exam_date_exam.strftime("%Y-%m-%d") if partial_data.exam_date_exam.present? %></p>
    </div>
  </div> <!--/row -->

</fieldset>

