<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="center">
        <span class="fa fa-file-invoice glyp-index-title" aria-hidden="true"></span>
        <span class="index-title"><%= t '.title' %></span>
      </h3>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->


  <%= form_errors_for @proposal %>

  <div class="row">
    <div class="col-sm-12">

      <h4 class="center hidden-xs"><strong><%= proposal_rec_info_short(@proposal) %></strong></h4>
      <h5 class="center visible-xs"><strong><%= proposal_rec_info_short_xs_1(@proposal) %><br><%= proposal_rec_info_short_xs_2(@proposal) %></strong></h5>

      <%= render partial: "show_step1", locals: {partial_data: @proposal} %>
      <%= render partial: "show_step2", locals: {partial_data: @proposal} %>
      <%= render partial: "show_step3", locals: {partial_data: @proposal} %>
      <%= render partial: "show_step4", locals: {partial_data: @proposal} %>

      <hr class="hr-without-top-margin">

      <div class="row">
        <div class="col-sm-12">
          <p><strong><%= @proposal.class.human_attribute_name(:status_name) %>:</strong>&nbsp;<%= proposal_rec_status_name(@proposal) %></p>
          <%= render partial: "show_not_approved_comment", locals: {partial_data: @proposal} if @proposal.proposal_status_id == Proposal::PROPOSAL_STATUS_NOT_APPROVED %>
          <%= render partial: "proposals/status_id_#{@proposal.proposal_status_id}_comment" %>
        </div> <!-- /col-sm-6 -->
      </div> <!-- /row -->

      <hr class="hr-without-top-margin">

      <div class="row">
        <div class="col-sm-12">

          <%= link_to proposals_path, class: "btn btn-default" do %>
            <span class="fa fa-list"></span>
            <%= t("helpers.links.index") %>
          <% end %>

          <% if policy(@proposal).annulled_self? %>
            <%= link_to update_annulled_proposal_path(multi_app_identifier: @proposal.multi_app_identifier),
                                method: :patch, 
                                data: { confirm: t('helpers.links.confirm_annulled', data: proposal_rec_info(@proposal)) }, 
                                class: "btn btn-warning" do %>
              <span class="fa fa-trash"></span>
              <%= t("helpers.links.annulled") %>
            <% end %>
          <% end %>

          <% if policy(@proposal).create_correction_exam_self? %> 

            <%= link_to create_correction_exam_proposal_path(multi_app_identifier: @proposal.multi_app_identifier),
                                method: :patch, 
                                data: { confirm: t('helpers.links.confirm_create_correction_exam') }, 
                                class: "btn btn-primary" do %>
              <span class="fa fa-plus"></span>
              <%= t("helpers.links.create_correction_exam") %>
            <% end %>

          <% end %>


        </div> <!-- /col-sm-12 -->

      </div> <!-- /row -->


    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

</div> <!--/container -->


