<footer class="footer">
  <div class="row">
    <div class='col-sm-6'>
      <h4><%= t('.brand') %></h4>
      <h4><%= t('.brand_address_1') %></h4>
      <h4><%= t('.brand_address_2') %></h4>
      <br>
      <h5><%= t('.brand_note') %></h5>
      <hr class="visible-xs">
    </div>

    <div class='col-sm-3'>
      <h5><%= t('.contact') %></h5>
        <ul><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;<%= mail_to t('.contact_mail') %></ul>
      <hr class="visible-xs">
      <h5><%= t('.contact_mor') %></h5>
        <ul><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;<%= mail_to t('.contact_mor_mail') %></ul>
      <hr class="visible-xs">
    </div>

    <div class="col-sm-3">
      <h5><%= t('.links') %></h5>
        <ul><span class="fa fa-info-circle"></span>&nbsp;&nbsp;
          <%= link_to static_pages_declaration_path do %>
            <%= t("static_pages.declaration.navbar") %>
          <% end %>
        </ul>
        <ul><span class="fa fa-globe"></span>&nbsp;&nbsp;<%= link_to('UKE', 'http://uke.gov.pl', target: "_blank") %></ul>
        <ul><span class="fa fa-globe"></span>&nbsp;&nbsp;<%= link_to('Facebook', 'https://web.facebook.com/UrzadKomunikacjiElektronicznej', target: "_blank") %></ul>
        <ul><span class="fa fa-globe"></span>&nbsp;&nbsp;<%= link_to('Twitter', 'https://twitter.com/uke2uke', target: "_blank") %></ul>
      <hr class="visible-xs">

      <h6 class="pull-right">&copy; 2020 UKE</h6>

    </div>
  </div>  <!-- /row -->

</footer>
